<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
    <p class="lead">My Unmatched Perspicacity Coupled With My Sheer Indefatigability Makes Me a Feared Opponent in Any Realm of Human Endeavor.</p>
    <hr class="my-4">
    <p>Check out my socials:</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://github.com/MajkelAndzelo" target="_blank" role="button">GitHub</a> 
      <a class="btn btn-secondary btn-lg" href="https://www.instagram.com/" target="_blank" role="button">Instagram</a> 
    </p>
  </div>
</div>

<style>
    .progress-container {
        margin-bottom: 5px;
    }
</style>

<p class="lead"> Languages I code in: </p>
<p> Python </p>
<div class="progress-container">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<p> SQL </p>
<div class="progress-container">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<p> C </p>
<div class="progress-container">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<p> Ruby </p>
<div class="progress-container">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 27%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<p class="lead"> Frameworks I work with: </p>
<div class="list-group">
  <label class="list-group-item">
    <input class="form-check-input me-1 bg-danger" type="checkbox" value="" disabled checked>
    Ruby on Rails 7.0
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1 bg-secondary" type="checkbox" value="" disabled checked>
    Streamlit
  </label>
</div>

<style>
  /
  .form-check-input:disabled ~ .form-check-label {
    color: #6c757d; 
    cursor: default; 
    opacity: 1; 
  }

  .form-check-input:disabled:not(:checked) ~ .form-check-label:before {
    background-color: #6c757d;
  }

  .form-check-label {
    opacity: 1; 
  }
</style>

